.navbar {
    position: fixed;
    top: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.582);
    height: 80px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: .3rem;
    z-index: 10;
}
.logo-container{
    position: relative;
    top: -25px;
    height: 115px;
    border: 5px solid white;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}
.logo-main {
    position: relative;
    top: 10px;
    font-size: 5rem;
    padding: 15px 20px;
    letter-spacing: .5rem;
}
.logo-sub {
    position: relative;
    top: -83px;
    right: -83px;
    font-size: 2rem;
}
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links > * {
    margin:0 10px;
    padding: 10px;
}
.nav-est {
   font-size: 1.5rem;
   padding: 10px;
}
.media {
    font-size: 3rem;
}
.more {
    position: relative;
    padding: 200px 25px;
    margin: 0 15px;
}
.more-dropdown {
    position: absolute; 
    top: 249px;
    right: -65px;
    background-color: rgba(0, 0, 0, 0.582);
    height: 120px;
    visibility: hidden;
    padding: 0 20px; 
}
.more-dropdown > * {
    padding: 5px 0;
}
.nav-about {
    position: relative;
}
.nav-home::before,
.nav-menu::before, 
.nav-locations::before, 
.nav-about::before,
.nav-franchise::before {
    content: "";
    position: absolute;
    height: 2px;
    top: 70px;
    width: 63px;
    background-color:white;
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.nav-home:hover::before,
.nav-menu:hover::before, 
.nav-locations:hover::before, 
.nav-about:hover::before,
.nav-franchise:hover::before {
    background-color: white;
    visibility: visible;
    transform: scaleX(1);
    z-index: -1;
}
.nav-about::before {
    top: 49px;
}
.nav-locations::before, .franchise::before {
    width: 115px;
}
.more:hover .more-dropdown{
    visibility: visible;
}
