.add-ons {
    margin: 50px auto;
    border-bottom: 1px solid white;
}
.menu-addons {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}
.addon-text {
    text-align: center;
    padding: 10px 0 30px 0;
    font-size: 2.5rem;
    font-family: 'Kavivanar', cursive;
}
.add-ons--container {
    width: 1100px;
    margin: 50px auto;
}