.hotpot-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.74);
    width: auto;
    border-bottom: 1px solid white;
}
.hotpot-menu > * {
    margin: 20px 35px;
}
