.menu {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 100px 0;
    color: rgba(255, 255, 255, 0.74);
}
.menu-container {
    background-color: black;
    height: auto;
    padding: 50px 25px;
    border: 20px ridge burlywood;
}
.menu-container > * {
    margin: 20px 25px;
}
.header-2 {
    font-family: 'Over the Rainbow', cursive;
    font-size: 5rem;
    font-weight: 700;
}
.menu-title {
    font-size: 10rem;
    letter-spacing: 2.5rem;
}
.menu-subtitle {
    font-family: 'Over the Rainbow', cursive;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.menu-super {
    position: relative;
    right: -185px;
    bottom: -30px;
    font-size: 3rem;
}
.menu-logo {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    position: relative;
    color: rgba(255, 255, 255, 0.877);
    margin-bottom: 50px;
    border-bottom: 2px solid white;
    padding-bottom: 50px;
}