.order-steps {
    background: #14141486;
    color: white;
    font-weight: 700;
    text-align: center;
    width: 1000px;
}
.steps-header {
    font-size: 5rem;
    text-transform: uppercase;
    padding: 50px 0;
}
.instructions {
    display: flex;
    justify-content: center;
}
.svg {
    height: 150px;
    width: 150px;
}
.next {
    padding: 55px 10px;
    color: greenyellow;
    font-size: 7rem;
}