.order-steps {
    background: #14141486;
    color: white;
    font-weight: 700;
    text-align: center;
    width: 1000px;
    margin-bottom: 100px;
    padding: 50px 0;
}
.header-1{
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: .5rem;    
}
.instructions {
    display: flex;
    justify-content: center;
}
.next {
    padding: 55px 10px;
    color: greenyellow;
    font-size: 7rem;
}
img.svg {
    height: 150px;
    width: 150px;
}