.gallery {
    display: grid;
    grid-gap: 15px;
    width: 1055px;
    height:700px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: dense;
    justify-content: center; 
    position: relative;  
}
.img1 {
    grid-column: span 3;
    grid-row: span 4;
    height: 100%;
    width: 100%;
}
.img10 {
    grid-column: span 2;
    grid-row:  span 2;
}
img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.showcase {
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 50px;  
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: bolder;
}
.normal {
    font-weight: normal;
    text-transform: none;
}
.overlay {
    position: fixed;
    background: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 20;
}

.overlay.open {
    display: grid;
}
.gallery-text {
    position: relative;
    top: -20px;
    color: white;
    font-size: 6.5rem;
    font-weight: 700;
    text-transform: uppercase;
    grid-column: span 2;
    grid-row: span 2;
    font-family: 'Oswald', sans-serif;
    align-self: start;
    
}
.gallery-text > * {
    padding: 5px 0;
}
.ayce {
    border-bottom: 5px solid white;
}
.tapas {
    font-family: 'Permanent Marker', cursive;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: .5rem;
    font-size: 6.2rem;
    
}
.conveyer {
    font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 4.1rem;
      letter-spacing: .5rem;
}
.hotpot {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2.7rem;
    text-align: center;
}