*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;   
}
html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  background-color: grey;
  background-image: url("./assets/darkwood.png");
  background-position: center; 

}
body {
  box-sizing: border-box;
  padding: 30px 0;
  height: 100vh;
}